@{
    ViewData["Title"] = "Product";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <div id="example">
        <div id="grid"></div>
    </div>
</div>

@section Scripts {
<script src="~/js/product.js"></script>
}