@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Prueba Técnica</h1>
    <p>To LogIn type the followin email: (admin@pruebatecnica.com) and password: (Abc1234,)</p>
</div>
